[submodule "atomic-docker/optaplanner_build_docker"]
	path = atomic-docker/optaplanner_build_docker
	url = https://github.com/rush86999/atomic-scheduler.git
[submodule "atomic-docker/classification_build_docker"]
	path = atomic-docker/classification_build_docker
	url = https://github.com/rush86999/text2vecDocker.git
