secrets.json
*.http
.env

node_modules


/optaplanner_build_docker/kotlin-quarkus/target

optaplanner_build_docker/kotlin-quarkus/target/

project/postgres/

classification_build_docker/app/models/classification/bart-large-mnli
classification_build_docker/app/models/text2vec/all-MiniLM-L6-v2/





