@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

$datepicker__selected-color: #AC2688;
  
@media (prefers-color-scheme: dark) {

  .react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;

  &:hover {
    border-radius: $datepicker__border-radius;
    background-color: $datepicker__background-color;
  }

  &--today {
    font-weight: bold;
  }

  &--highlighted {
    border-radius: $datepicker__border-radius;
    background-color: $datepicker__highlighted-color;
    color: #fff;

    &:hover {
      background-color: darken($datepicker__highlighted-color, 5%);
    }

    &-custom-1 {
      color: magenta;
    }

    &-custom-2 {
      color: green;
    }
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    border-radius: $datepicker__border-radius;
    background-color: $datepicker__selected-color;
    color: #fff;

    &:hover {
      background-color: darken($datepicker__selected-color, 5%);
    }
  }

  &--keyboard-selected {
    border-radius: $datepicker__border-radius;
    background-color: lighten($datepicker__selected-color, 45%);
    color: rgb(0, 0, 0);

    &:hover {
      background-color: darken($datepicker__selected-color, 5%);
    }
  }

  &--in-selecting-range:not(&--in-range) {
    background-color: rgba($datepicker__selected-color, 0.5);
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: $datepicker__background-color;
      color: $datepicker__text-color;
    }
  }

  &--disabled {
    cursor: default;
    color: $datepicker__muted-color;

    &:hover {
      background-color: transparent;
    }
  }
}

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    margin-top: 0;
    color: whitesmoke;
    font-weight: bold;
    font-size: $datepicker__font-size * 1.18;
  }

      .react-datepicker__month-container {
        background-color: #081833;
        color: white;
        font-size: 1rem;
      
        .react-datepicker__month {
          padding: 1rem 0;
          color: white;
        }
      
        .react-datepicker__month-text {
          display: inline-block;
          width: 5rem;
          margin: 0.5rem;
          font-size: 1rem;
          padding: 0.2rem;
          color: white;
          text-align: center;
        }
      
        
      }
    
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        color: white;
      }

      .react-datepicker__day,
      .react-datepicker__month-text,
      .react-datepicker__quarter-text,
      .react-datepicker__year-text {
        cursor: pointer;

        &:hover {
          color: black;
        }

        &--disabled {
          cursor: default;
          color: rgb(71 85 105);
      
          &:hover {
            background-color: transparent;
          }
        }
      }

      

      .react-datepicker__time-container {
        float: right;
        border-left: 1px solid $datepicker__border-color;
        width: 85px;

        &--with-today-button {
          display: inline;
          border: 1px solid #aeaeae;
          border-radius: 0.3rem;
          position: absolute;
          right: -87px;
          top: 0;
        }

        .react-datepicker__time {
          position: relative;
          background: white;
          border-bottom-right-radius: 0.3rem;

          .react-datepicker__time-box {
            width: 85px;
            overflow-x: hidden;
            margin: 0 auto;
            text-align: center;
            border-bottom-right-radius: 0.3rem;

            ul.react-datepicker__time-list {
              list-style: none;
              margin: 0;
              height: calc(195px + (#{$datepicker__item-size} / 2));
              overflow-y: scroll;
              padding-right: 0;
              padding-left: 0;
              width: 100%;
              box-sizing: content-box;

              li.react-datepicker__time-list-item {
                height: 30px;
                padding: 5px 10px;
                white-space: nowrap;

                &:hover {
                  cursor: pointer;
                  background-color: $datepicker__background-color;
                  color: black;
                }

                &--selected {
                  background-color: $datepicker__selected-color;
                  color: white;
                  font-weight: bold;

                  &:hover {
                    background-color: $datepicker__selected-color;
                  }
                }

                &--disabled {
                  color: $datepicker__muted-color;

                  &:hover {
                    cursor: default;
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
      }
}