
.bm-burger-button {
  
    width: 36px;
    height: 30px;
    left: 36px;

    top: 36px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }  

  .bm-burger-bars-hover {
    background: #a90000;

  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 0.3rem 0.3rem 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {

    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
/* styling next link component so that will be a column list of links*/
  .bm-item-list a {
    display: flex;
    flex-direction: column;
  }